#maindiv{
    max-width:100%;
    height:auto;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    border-radius: 25px;
}
.d1{
    display: flex;
    margin: auto;
    background-color: #deb887;
    border-radius: 5px;


}
.img1{
    width: 35=px;
    height: 35px;
    margin-top: auto;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: auto;
}
.d1 h1{

    margin-right: auto;
}

.d2{
    width: 100%;
  height: 10px;
  border-width: 5px;
  background-color: rgb(209, 200, 204);

}

.d3{
    display: flex;
    margin-top: 10px;
}

.d3 .b1{
    margin-left:auto;
    margin-right: auto;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
}

.d3 .b2{
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
}
.d3 .b3{
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
}
.d3 .b4{
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0px;
}

#b1{
    padding: 2px 15px 2px 15px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
}
#b1:hover{
    color:blue;
}
#b1:visited{
    color: yellowgreen;
}

#b2{
    padding: 3px 15px 3px 15px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
}
#b2:hover{
    color:blue;
}
#b2:visited{
    color: yellowgreen;
}

#b3{
    padding: 2px 15px 2px 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}
#b3:hover{
    color:blue;
}
#b3:visited{
    color: yellowgreen;
}

