@charset "ISO-8859-1";
#maindiv{
    max-width:1980px;
    height:auto;
    border-radius: 25px solid black;
    margin:auto;
    
 	/*background-color: linear-gradient(-135deg, #71b7e6, #9b59b6);*/
}
.d1{
    display: flex;
    margin: auto;
    background-color: #deb887;
    
	background-size: cover; 

}
.img1{
    width: 35px;
    height: 35px;
    margin-top: auto;
    margin-left: auto;
    margin-right: 30px;
    margin-bottom: auto;
}
.d1 h1{
    margin-right: auto;
}

.d2{
    width: 100%;
  height: 10px;
  border-width: 5px;
  background-color: rgb(209, 200, 204);

}
.mcd3{
    display: flex;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    
}
.mcd3 .mcd33{
    margin: auto;
    font-size: 20px;
    color:rgb(103, 12, 88);
}

.mcd3 .mcd33 :hover{
    transform:scale(1.08);
    color:yellow;
}

#ap{
	font-weight:bolder;
	font-size:20px;
}


.background {
	width: 100%;
    height: auto; /* Adjust height as needed */
    background-image: url('images/hp.jpg'); /* Path to your image */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
/* Targeting the main container */

.container {
    width: 30%;
    margin: auto;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    
}

/* Styling the form inside the container */
.container form {
    padding: 30px 0px 30px 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Styling the labels */
.container label {
    font-size: 38px;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

/* Styling the input fields */
.container .i1 {
    width: 50%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Styling the button */
.container .button-container {
    text-align: center;
    margin-top: 15px;
    
}

.container .button input {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width:30%;
}

.container .button input:hover {
    background-color: #0056b3;
}
























